@media (max-width: 600px) {
  .bp-phone-disable {
    display: none !important; } }

@media (max-width: 900px) {
  .bp-tapPort-disable {
    display: none !important; } }

.disHover {
  cursor: default !important; }
  .disHover:hover {
    background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent) !important;
    transform: scale(1) translate(0, 0) !important; }
  .disHover:active {
    background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent) !important;
    transform: scale(1) translate(0, 0) !important; }

.hover-light-orange {
  cursor: pointer !important; }
  .hover-light-orange:hover {
    background-color: rgba(255, 173, 10, 0.3);
    transform: scale(1.05) translate(-5%, -5%); }
  .hover-light-orange:active {
    background-color: rgba(255, 173, 10, 0.5); }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.disable {
  display: none !important; }

.active-light-orange {
  background-color: rgba(255, 173, 10, 0.5);
  transform: scale(1.05) translate(-5%, -5%); }
  .active-light-orange:hover {
    background-color: rgba(255, 173, 10, 0.5);
    transform: scale(1.05) translate(-5%, -5%); }

.active-dark-orange {
  background-color: #e28e10 !important;
  transform: scale(1.05) translate(-2%, -2%); }
  .active-dark-orange:hover {
    background-color: #e28e10 !important;
    transform: scale(1.05) translate(-2%, -2%); }

.apparelTransform {
  transform: rotateY(-20deg) translateX(-5%) !important; }
  @media (max-width: 900px) {
    .apparelTransform {
      transform: rotateY(0deg) translateX(0) !important; } }

/*
0 - 600px:       phone          Phone 
600 - 900px:     tab-port       Tablet Portait
900 - 1200px:    tab-land       Tablet Lanscape
1200 -1800px:     -             Normal
1800px +:        desktop-big    Desktop Big

*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1000px) {
    html {
      font-size: 60%; } }
  @media (max-width: 600px) {
    html {
      font-size: 55%; } }

body {
  font-family: 'Exo', sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  color: #fff; }

a,
a:link,
a:active {
  color: currentColor;
  text-decoration: none; }

.window {
  display: flex;
  justify-content: end;
  padding: 4rem 5rem 5rem;
  perspective: 200rem;
  position: relative;
  overflow-y: auto;
  height: 100vh;
  max-width: 160rem;
  margin: 0 auto; }
  @media (max-width: 1250px) {
    .window {
      justify-content: center;
      padding: 4rem 4rem; } }
  @media (max-width: 901px) {
    .window {
      overflow-y: visible; } }
  @media (max-width: 900px) {
    .window {
      padding: 2rem;
      overflow-y: scroll;
      background: #222; } }

.bgImage {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-image: url("../img/bgportfolio1.jpg");
  filter: blur(1px);
  background-size: cover; }
  @media (max-width: 900px) {
    .bgImage {
      background-image: none; } }

.app {
  width: 107rem;
  height: 60rem;
  transform: translateX(-5%);
  display: grid;
  grid-template-rows: 0.5fr 6fr 0.5fr;
  gap: 1rem;
  transition: all 1s;
  opacity: 0;
  margin: auto 0; }
  @media (max-width: 1000px) {
    .app {
      transform: translateX(0); } }
  @media (max-width: 1250px) {
    .app {
      transform: translateX(0); } }
  @media (max-width: 600px) {
    .app {
      gap: 1rem; } }

.header {
  display: flex;
  justify-content: space-between; }

.headerNameBox {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-right: solid 0.5px rgba(255, 255, 255, 0.623); }
  .headerNameBox__job {
    font-size: 3.5rem;
    line-height: 1; }
  @media (max-width: 600px) {
    .headerNameBox {
      font-size: 3rem; } }

.headerCtrContainer {
  display: flex;
  align-items: center;
  line-height: 1; }
  .headerCtrContainer__box {
    position: relative;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 0.5px rgba(255, 255, 255, 0.623);
    transition: all 0.2s;
    z-index: 0;
    cursor: pointer; }
    .headerCtrContainer__box img {
      height: 2rem; }
    .headerCtrContainer__box:hover {
      background-color: #e28e1098;
      border-right: #e28e1098;
      transform: scale(1.05) translate(-5%, -5%); }
    .headerCtrContainer__box:active {
      background-color: #e28e10;
      border-right: #e28e10;
      transform: scale(1.05) translate(-5%, -5%); }

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem; }
  @media (max-width: 900px) {
    .main {
      grid-template-columns: 1fr; } }
  @media (max-width: 900px) and (max-width: 900px) {
    .main {
      gap: 2rem; } }

.mainBox__left {
  display: flex;
  flex-direction: column;
  border-top: solid 0.5px rgba(255, 255, 255, 0.623); }
  .mainBox__left__name {
    align-self: start;
    justify-self: center;
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 1rem 0; }

.mainBox__leftWrapper {
  display: grid;
  grid-template-columns: 0.6fr 1.5fr;
  gap: 1rem;
  flex-grow: 1; }
  @media (max-width: 900px) {
    .mainBox__leftWrapper {
      grid-template-columns: 7fr 1fr; } }

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
  @media (max-width: 900px) {
    .logoContainer {
      grid-column: 2/3;
      grid-row: 1; } }
  @media (max-width: 600px) {
    .logoContainer {
      grid-column: 2/3;
      grid-row: 1; } }
  .logoContainer__box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
    transition: all 0.2s;
    cursor: default; }
    .logoContainer__box img {
      width: 5rem; }
      @media (max-width: 600px) {
        .logoContainer__box img {
          width: 4rem; } }
    .logoContainer__box span {
      font-size: 1rem; }
    .logoContainer__box__count {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem; }
      .logoContainer__box__count img {
        width: 1.5rem; }
      .logoContainer__box__count span {
        font-size: 1.4rem; }
    .logoContainer__box__status {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem; }
      .logoContainer__box__status span {
        display: block;
        font-size: 1.4rem; }
        @media (max-width: 600px) {
          .logoContainer__box__status span {
            font-size: 1.1rem; } }

.summaryHobbyWrapper {
  display: flex;
  flex-direction: column;
  cursor: default; }
  @media (max-width: 900px) {
    .summaryHobbyWrapper {
      flex-direction: row-reverse;
      gap: 0.5rem; } }

.summaryHobbyContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  border-top: solid 0.5px rgba(255, 255, 255, 0.623);
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.623);
  flex-grow: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }
  @media (max-width: 900px) {
    .summaryHobbyContainer {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 600px) {
    .summaryHobbyContainer {
      display: flex;
      flex-direction: column; } }

.summaryContainer {
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.623);
  display: flex;
  justify-content: center;
  align-items: center; }
  .summaryContainer__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; }
    @media (max-width: 600px) {
      .summaryContainer__box {
        align-items: start;
        flex-grow: 1;
        padding: 0.5rem; } }

.hobbyContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  line-height: 1.2; }
  @media (max-width: 600px) {
    .hobbyContainer {
      display: flex;
      justify-content: space-around; } }
  .hobbyContainer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden; }
    .hobbyContainer__box__left {
      display: flex;
      justify-content: center;
      align-items: center; }
      .hobbyContainer__box__left img {
        position: absolute;
        right: 30%;
        width: 3.5rem;
        transform: scale(2);
        opacity: 0.1; }
        @media (max-width: 600px) {
          .hobbyContainer__box__left img {
            transform: scale(1); } }
    .hobbyContainer__box__right {
      text-align: end;
      font-size: 1.8rem; }
      @media (max-width: 600px) {
        .hobbyContainer__box__right {
          font-size: 1.4rem; } }

.languageContainer {
  display: flex;
  justify-content: end;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.623);
  gap: 1rem;
  padding: 0.5rem 0; }
  .languageContainer img {
    width: 2rem; }
  @media (max-width: 900px) {
    .languageContainer {
      display: none; } }

.mainBox__middle {
  display: grid;
  grid-template-rows: 1fr 1fr 2.6fr 0.9fr;
  gap: 1rem; }

.weaponContainer {
  display: flex;
  flex-direction: column;
  border-top: solid 0.5px rgba(255, 255, 255, 0.623); }

.projectSection {
  display: flex;
  flex-direction: column;
  border-top: solid 0.5px rgba(255, 255, 255, 0.623); }

.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  flex-grow: 1; }

.skillSection {
  display: flex;
  flex-direction: column;
  border-top: solid 0.5px rgba(255, 255, 255, 0.623); }

.skillContainer {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem; }

.educateSection {
  display: flex;
  flex-direction: column;
  border-top: solid 0.5px rgba(255, 255, 255, 0.623); }

.educateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  flex-grow: 1; }

.educateBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623); }
  .educateBox img {
    display: block;
    width: 4rem; }

.mainBox__right {
  display: flex; }

.explandContainer {
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
  position: relative;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }
  .explandContainer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bgeagle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; }

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 1rem; }
  @media (max-width: 900px) {
    .footerSection {
      padding-bottom: 5rem; } }
  @media (max-width: 600px) {
    .footerSection {
      gap: 0;
      line-height: 0; } }

.footerContact {
  display: flex;
  align-items: center;
  gap: 2rem; }
  @media (max-width: 600px) {
    .footerContact {
      flex-direction: column;
      align-items: end;
      gap: 0rem; } }
  .footerContact__box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem; }
    @media (max-width: 600px) {
      .footerContact__box {
        margin-bottom: 1.5rem; } }
    .footerContact__box--logo {
      display: flex;
      align-items: center;
      padding-right: 0.5rem;
      border-right: solid 0.5px rgba(255, 255, 255, 0.623); }
      .footerContact__box--logo img {
        height: 2rem; }
    .footerContact__box--info, .footerContact__box:link, .footerContact__box:active {
      color: currentColor;
      text-decoration: none; }

.userImage {
  display: none; }
  .userImage img {
    width: 100%;
    height: 100%; }
  @media (max-width: 900px) {
    .userImage {
      display: flex;
      width: 20rem;
      height: 20rem; } }
  @media (max-width: 600px) {
    .userImage {
      width: 12rem;
      height: 12rem; } }

.overlayApparel {
  position: absolute;
  right: 0rem;
  top: 0;
  width: 22%;
  height: 9%;
  z-index: 10;
  cursor: progress; }
  @media (max-width: 900px) {
    .overlayApparel {
      display: none; } }

.overlayAvatar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 43rem;
  height: 56rem;
  z-index: 10;
  cursor: progress; }
  @media (max-width: 900px) {
    .overlayAvatar {
      display: none; } }

.weaponBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }
  .weaponBox__logo {
    position: absolute;
    left: 2%;
    bottom: 0;
    transform: scale(1.2);
    z-index: 2; }
    @media (max-width: 600px) {
      .weaponBox__logo {
        transform: scale(1); } }
  .weaponBox__img {
    margin-left: 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 600px) {
      .weaponBox__img img {
        width: 100%; } }
    .weaponBox__img span {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.2rem 0.5rem;
      background-color: rgba(0, 0, 0, 0.2); }
  .weaponBox__name {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
    padding: 0 2rem;
    border-left: solid 0.5px rgba(255, 255, 255, 0.623); }

.projectBox {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent);
  transition: all 0.2s;
  cursor: pointer;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }
  .projectBox::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 8%;
    height: 100%;
    background-color: #ffaf0b;
    box-shadow: inset 0.5px 0.5px 5px 1px #be832a; }
  .projectBox--text {
    position: absolute;
    left: 15%;
    font-size: 1.6rem;
    line-height: 1;
    z-index: 5; }
  .projectBox img {
    position: absolute;
    right: 10%;
    top: 0;
    height: 5rem;
    transform: scale(2); }
  .projectBox:hover:not(:nth-child(2)) {
    background-color: #e28e1098;
    border-right: #e28e1098;
    transform: scale(1.05) translate(-2%, -2%); }
  .projectBox:nth-child(2) {
    background: linear-gradient(to right, rgba(30, 21, 1, 0.3), transparent);
    color: #929292;
    cursor: default; }
    .projectBox:nth-child(2)::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 8%;
      height: 100%;
      background-color: #412d05;
      box-shadow: inset 0.5px 0.5px 5px 1px #452f0f; }
  .projectBox:active:not(:nth-child(2)) {
    background-color: #e28e10; }

.skillBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
  position: relative;
  background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent);
  transition: all 0.2s;
  cursor: default;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }
  .skillBox::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 8%;
    height: 100%;
    background-color: #0d0d0d63;
    box-shadow: inset 0.5px 0.5px 5px 1px rgba(177, 177, 177, 0.454); }
  .skillBox--bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8%;
    height: 0%;
    transition: all 0.3s ease-in; }
  .skillBox--bgText {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 2.5rem;
    color: rgba(223, 218, 212, 0.132);
    line-height: 1;
    right: 5%;
    top: 30%;
    z-index: -2; }
    @media (max-width: 600px) {
      .skillBox--bgText {
        display: none; } }
  .skillBox .scoreBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    left: 8%;
    top: 0;
    padding: 0 0.5rem; }
    .skillBox .scoreBox .zero {
      color: #c0bfbf; }
  .skillBox img {
    height: 5rem; }
    @media (max-width: 600px) {
      .skillBox img {
        height: 4rem; } }
  .skillBox:hover {
    background: linear-gradient(to right, rgba(2, 224, 141, 0.3), transparent);
    transform: scale(1.05) translate(-5%, -5%); }
    @media (max-width: 600px) {
      .skillBox:hover {
        transform: scale(1) translate(0, 0); } }
  .skillBox:hover .skillBox--bar {
    background-color: #02e08d !important;
    box-shadow: inset 0.5px 0.5px 5px 1px #37885a !important; }

.educateBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent);
  transition: all 0.2s;
  cursor: pointer;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }
  .educateBox img {
    position: absolute;
    right: 10%;
    top: 0;
    height: 5rem;
    transform: scale(2); }
  .educateBox:hover {
    background-color: #e28e10;
    transform: scale(1.05) translate(-3%, -3%); }

.radarBox {
  padding-bottom: 0.5rem; }

.radar {
  display: table;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  padding: 0.5rem 0.5rem;
  border: 2px solid #44ab17;
  border-radius: 50%;
  box-shadow: 0 0 2rem 0.5rem rgba(68, 171, 23, 0.3), inset 0 0 2rem 1rem rgba(68, 171, 23, 0.3); }
  .radar:before, .radar:after {
    opacity: 0;
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgba(68, 171, 23, 0.9);
    box-shadow: 0 0 20px rgba(68, 171, 23, 0.3), inset 0 0 30px rgba(68, 171, 23, 0.3); }
  .radar:after {
    z-index: 1;
    -webkit-animation: radarAnimation 4s infinite 1s; }
  .radar:before {
    z-index: 2;
    -webkit-animation: radarAnimation 2s infinite; }

@-webkit-keyframes radarAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(1); } }

.chartContainer {
  display: flex;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  position: relative; }
  @media (max-width: 600px) {
    .chartContainer {
      justify-content: space-between;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      gap: 0.5rem; } }

.circle {
  width: 13rem;
  height: 13rem;
  border: 0.8rem white solid;
  border-radius: 50%;
  opacity: 0.2;
  box-shadow: 0 0 1rem 0rem rgba(255, 255, 255, 0.5); }
  @media (max-width: 600px) {
    .circle {
      flex-grow: 1;
      height: 1rem;
      border: none;
      border-radius: 0;
      opacity: 0.2;
      background-color: #fff;
      box-shadow: 0 0 1rem 0rem rgba(255, 255, 255, 0.5);
      margin-bottom: 1rem; } }

.exp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2; }
  .exp__year {
    font-size: 1.5rem; }
  .exp__count {
    font-size: 5rem; }
  @media (max-width: 600px) {
    .exp {
      position: relative;
      left: 0;
      top: 0;
      transform: none;
      line-height: 0;
      flex-direction: row-reverse;
      align-items: baseline;
      gap: 0.3rem; }
      .exp__year {
        font-size: 1rem; }
      .exp__count {
        font-size: 3rem; } }

.personalInfo {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  width: 26rem;
  align-items: center;
  gap: 1rem;
  cursor: default;
  transition: all 0.5s;
  position: relative; }
  @media (max-width: 900px) {
    .personalInfo {
      width: 100%; } }
  .personalInfo__name {
    text-align: center;
    align-self: stretch;
    padding: 1rem;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.623); }
  .personalInfo img {
    height: 10rem; }
  .personalInfo__intro {
    padding: 1rem;
    border-top: solid 0.5px rgba(255, 255, 255, 0.623);
    font-weight: 500;
    overflow-y: auto; }
    .personalInfo__intro p {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    .personalInfo__intro::-webkit-scrollbar {
      width: 0.4rem; }
    .personalInfo__intro::-webkit-scrollbar-track {
      background-color: rgba(255, 173, 10, 0.3); }
    .personalInfo__intro::-webkit-scrollbar-thumb {
      background: #ffffff; }
    .personalInfo__intro::-webkit-scrollbar-thumb:hover {
      background: #929292; }

.projectExpand {
  display: grid;
  grid-template-rows: 1fr 7fr;
  gap: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.5s; }
  @media (max-width: 900px) {
    .projectExpand {
      width: 100%; } }

.projectList {
  max-height: 42rem;
  width: 26rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative; }
  @media (max-width: 900px) {
    .projectList {
      width: 100%; } }

.projectItem {
  display: flex;
  flex-direction: column;
  position: relative; }
  @media (max-width: 900px) {
    .projectItem {
      flex-direction: row;
      border-bottom: solid 0.5px rgba(255, 255, 255, 0.623); } }
  .projectItem__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.623);
    padding: 0 1rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent); }
    @media (max-width: 900px) {
      .projectItem__title {
        flex-direction: column;
        padding: 1rem;
        width: 20%;
        border-bottom: none; } }
    .projectItem__title__box {
      display: flex;
      gap: 1rem;
      align-items: center; }
      @media (max-width: 900px) {
        .projectItem__title__box {
          justify-content: center;
          text-align: center; } }
      .projectItem__title__box span {
        font-size: 1.5rem; }
      .projectItem__title__box .starIcon {
        height: 1.2rem; }
        @media (max-width: 900px) {
          .projectItem__title__box .starIcon {
            position: absolute;
            right: 5%;
            top: 35%;
            height: 2rem; } }
        @media (max-width: 600px) {
          .projectItem__title__box .starIcon {
            position: absolute;
            right: 5%;
            top: 55%;
            height: 1.5rem; } }
    .projectItem__title img {
      height: 1.5rem;
      filter: grayscale(1) brightness(10);
      cursor: pointer; }
      .projectItem__title img:hover {
        filter: none; }
      @media (max-width: 900px) {
        .projectItem__title img {
          height: 2rem; } }
  .projectItem__discription {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    transition: all 0.1s;
    text-align: left; }
    @media (max-width: 900px) {
      .projectItem__discription {
        flex-grow: 1; } }
    .projectItem__discription img {
      height: 5rem; }
      @media (max-width: 900px) {
        .projectItem__discription img {
          height: 6rem; } }
    .projectItem__discription--p {
      font-size: 1.2rem;
      text-align: left; }
    .projectItem__discription:hover {
      background-color: rgba(255, 173, 10, 0.3); }

.projectList::-webkit-scrollbar {
  width: 0.4rem; }

.projectList::-webkit-scrollbar-track {
  background-color: rgba(255, 173, 10, 0.3); }

.projectList::-webkit-scrollbar-thumb {
  background: #ffffff; }

.projectList::-webkit-scrollbar-thumb:hover {
  background: #929292; }

.projectBox {
  justify-content: center; }
  .projectBox--text {
    position: relative;
    left: 0%; }

@media (max-width: 900px) {
  .projectExpand .projectBox::before {
    display: none; } }

.educateInst {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.623);
  padding-bottom: 1rem; }
  @media (max-width: 600px) {
    .educateInst {
      justify-content: center; } }
  .educateInst img {
    height: 6rem;
    padding-left: 2rem; }
  .educateInst span {
    font-size: 1.5rem; }

.educateInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem; }
  .educateInfo__major {
    display: flex;
    gap: 1rem; }
    .educateInfo__major span:first-child {
      font-weight: 300; }

.avatar {
  position: absolute;
  left: 0;
  top: 15rem;
  width: 30rem;
  transform: scale(1);
  transform-origin: top;
  transition: background-image 0.08s linear;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  @media (max-width: 900px) {
    .avatar {
      display: none; } }
  @media (max-width: 1300px) {
    .avatar {
      opacity: 0;
      visibility: hidden; } }

.avatarImage {
  left: 0;
  bottom: 0;
  width: 43.8rem;
  height: 56.9rem; }

.avatarHidden {
  display: none; }

.hireHover img {
  transition: all 0.3s; }

.hireHover:hover img {
  transform: rotateY(-180deg); }

.hireContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  left: 30%;
  top: 25%;
  transition: all 0.5s;
  perspective: 150rem; }

.hireWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 3rem 5rem;
  transform: rotateY(60deg);
  transform-origin: left;
  transition: all 1s; }
  .hireWrapper h2 {
    font-size: 4rem;
    text-align: center;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.623); }

.subHire {
  flex-direction: column;
  align-items: start; }
  .subHire__box {
    gap: 1rem; }
    .subHire__box--logo {
      width: 5rem; }
      .subHire__box--logo img {
        width: 100%;
        height: 3rem; }
    .subHire__box--info {
      font-size: 2rem;
      font-weight: 400; }

.hireBtn {
  width: 6rem;
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s 0.5s; }
  .hireBtn:hover img {
    transform: rotate(0deg); }
  .hireBtn img {
    height: 4rem;
    width: 4rem;
    transform: rotateY(-180deg);
    transition: all 0.3s; }
