*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Exo', sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  color: #fff;
}
a,
a:link,
a:active {
  color: currentColor;
  text-decoration: none;
}
