$font-bg-box: 'Permanent Marker', cursive;

$borderShadow-white: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);

$border-white: solid 0.5px rgba(255, 255, 255, 0.623);

$color-orange-05: #e28e10;
$color-orange-06: #e28e1098;

$color-green-03: #02e08d;
$color-green-02: #37885a;
$color-black: #000;

@mixin response($breakpoint) {
  @if ($breakpoint == 'phone-small') {
    @media (max-width: 400px) {
      @content;
    }
  }
  @if ($breakpoint == 'phone') {
    @media (max-width: 600px) {
      @content;
    }
  } @else if ($breakpoint == 'tab-port') {
    @media (max-width: 900px) {
      @content;
    }
  } @else if ($breakpoint == 'scrollChange') {
    @media (max-width: 901px) {
      @content;
    }
  } @else if ($breakpoint == 'desktop-m') {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if ($breakpoint == 'tab-land') {
    @media (max-width: 1250px) {
      @content;
    }
  } @else if ($breakpoint == 'avatarBP') {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if ($breakpoint == 'desktop-big') {
    @media (max-width: 1800px) {
      @content;
    }
  }
}

@mixin glassbox {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/////////////////////////////
.bp-phone-disable {
  @include response('phone') {
    display: none !important;
  }
}
.bp-tapPort-disable {
  @include response('tab-port') {
    display: none !important;
  }
}

////////////////////////////

.disHover {
  cursor: default !important;
  &:hover {
    background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent) !important;
    transform: scale(1) translate(0, 0) !important;
  }
  &:active {
    background: linear-gradient(to right, rgba(255, 173, 10, 0.3), transparent) !important;
    transform: scale(1) translate(0, 0) !important;
  }
}

.hover-light-orange {
  cursor: pointer !important;
  &:hover {
    background-color: rgba(255, 173, 10, 0.3);
    transform: scale(1.05) translate(-5%, -5%);
  }
  &:active {
    background-color: rgba(255, 173, 10, 0.5);
  }
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
.disable {
  display: none !important;
}
.active-light-orange {
  background-color: rgba(255, 173, 10, 0.5);
  transform: scale(1.05) translate(-5%, -5%);
  &:hover {
    background-color: rgba(255, 173, 10, 0.5);
    transform: scale(1.05) translate(-5%, -5%);
  }
}

.active-dark-orange {
  background-color: $color-orange-05 !important;
  transform: scale(1.05) translate(-2%, -2%);
  &:hover {
    background-color: $color-orange-05 !important;
    transform: scale(1.05) translate(-2%, -2%);
  }
}

.apparelTransform {
  transform: rotateY(-20deg) translateX(-5%) !important;

  @include response('tab-port') {
    transform: rotateY(0deg) translateX(0) !important;
  }
}

$borderTest: solid 1px red;
// background: rgba( 255, 255, 255, 0.25 );
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
// backdrop-filter: blur( 4px );
// -webkit-backdrop-filter: blur( 4px );
// border-radius: 10px;
// border: 1px solid rgba( 255, 255, 255, 0.18 );

// MEDIA QUERY MANAGER
/*
0 - 600px:       phone          Phone 
600 - 900px:     tab-port       Tablet Portait
900 - 1200px:    tab-land       Tablet Lanscape
1200 -1800px:     -             Normal
1800px +:        desktop-big    Desktop Big

*/
