$borderShadow-white: 0.5px 0.5px 2px 0.2px rgba(255, 255, 255, 0.623);

$border-white: solid 0.5px rgba(255, 255, 255, 0.623);

@mixin glassbox {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

$borderTest: solid 1px red;
// background: rgba( 255, 255, 255, 0.25 );
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
// backdrop-filter: blur( 4px );
// -webkit-backdrop-filter: blur( 4px );
// border-radius: 10px;
// border: 1px solid rgba( 255, 255, 255, 0.18 );

.mediumBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $borderShadow-white;
  position: relative;
  @include glassbox;
  img {
    display: block;
    width: 4rem;
  }
}
.largeBox {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-shadow: $borderShadow-white;
  position: relative;
  @include glassbox;
  img {
    display: block;
    width: 4rem;
  }
}
